{% extends 'soft-ui-base.html.twig' %}

{% block title %}Assignments{% endblock %}

{% block body %}
    <h1>Assignments</h1>
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" href="{{ path('assignment_add') }}" role="button">Add</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Due date</th>
                </tr>
                </thead>
                <tbody>
                {% for assignment in assignments %}
                    <tr>
                        <td>
                            {{ assignment.getId() }}
                        </td>
                        <td>
                            <a href="{{ path('assignment_view', {id: assignment.getId()}) }}" role="button">
                                {{ assignment.getTitle() }}
                            </a>
                        </td>
                        <td>
                            {{ assignment.getDueDate().format('d/m/Y') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
