{% extends 'soft-ui-base.html.twig' %}

{% block title %}{{ assignment.getTitle() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" href="{{ path('assignment_list') }}" role="button">
                <i class="fa-solid fa-arrow-left"></i> Back
            </a>
        </div>
        <div class="col text-end">
            <a class="btn btn-primary" href="{{ path(name = 'assignment_edit', parameters = {id: assignment.getId()}) }}" role="button">
                <i class="fa-solid fa-pen-to-square"></i> Edit
            </a>
        </div>
    </div>
    <h1>
        {{ assignment.getTitle() }}
    </h1>
    <div class="row">
        <div class="col">
            <h4>Instructions</h4>
            <p>{{ assignment.getInstructions() }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Due date</h4>
            <p>{{ assignment.getDateSet().format('d/m/Y') }}</p>
        </div>
    </div>
{% endblock %}
