{% extends 'soft-ui-base.html.twig' %}

{% block title %}Add family member{% endblock %}

{% block body %}
    <h1>Add family member</h1>
    <div class="row">
        <div class="col">
            {{ form_errors(form) }}

            {{ form_start(form) }}
            {{ form_row(form.username) }}
            {{ form_row(form.name) }}
            {{ form_row(form.plainPassword, {
                label: 'Password'
            }) }}

            <button type="submit" class="btn">Add family member</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
